.day-cell {
    width: 150px;
    height: 140px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    overflow-y: auto;
    min-height: 80px;
    position: relative;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--light-gray);
}
::-webkit-scrollbar-thumb {
    background: var(--main-yellow);
    border-radius: 5px;
}

.active-day {
    border: 1px solid red;
}
.day-number {
    font-weight: bold;
    margin-bottom: 5px;
}

